@charset "UTF-8";
.pad-top-0x {
  padding-top: 0px; }

.pad-top-1x {
  padding-top: 10px; }

.pad-top-2x {
  padding-top: 20px; }

.pad-top-3x {
  padding-top: 30px; }

.pad-top-4x {
  padding-top: 40px; }

.pad-top-5x {
  padding-top: 50px; }

.pad-top-6x {
  padding-top: 60px; }

.pad-top-7x {
  padding-top: 70px; }

.pad-top-8x {
  padding-top: 80px; }

.pad-right-0x {
  padding-right: 0px; }

.pad-right-1x {
  padding-right: 10px; }

.pad-right-2x {
  padding-right: 20px; }

.pad-right-3x {
  padding-right: 30px; }

.pad-right-4x {
  padding-right: 40px; }

.pad-right-5x {
  padding-right: 50px; }

.pad-right-6x {
  padding-right: 60px; }

.pad-right-7x {
  padding-right: 70px; }

.pad-right-8x {
  padding-right: 80px; }

.pad-bottom-0x {
  padding-bottom: 0px; }

.pad-bottom-1x {
  padding-bottom: 10px; }

.pad-bottom-2x {
  padding-bottom: 20px; }

.pad-bottom-3x {
  padding-bottom: 30px; }

.pad-bottom-4x {
  padding-bottom: 40px; }

.pad-bottom-5x {
  padding-bottom: 50px; }

.pad-bottom-6x {
  padding-bottom: 60px; }

.pad-bottom-7x {
  padding-bottom: 70px; }

.pad-bottom-8x {
  padding-bottom: 80px; }

.pad-left-0x {
  padding-left: 0px; }

.pad-left-1x {
  padding-left: 10px; }

.pad-left-2x {
  padding-left: 20px; }

.pad-left-3x {
  padding-left: 30px; }

.pad-left-4x {
  padding-left: 40px; }

.pad-left-5x {
  padding-left: 50px; }

.pad-left-6x {
  padding-left: 60px; }

.pad-left-7x {
  padding-left: 70px; }

.pad-left-8x {
  padding-left: 80px; }

.pad-top-0x {
  padding-top: 0px; }

.pad-top-1x {
  padding-top: 10px; }

.pad-top-2x {
  padding-top: 20px; }

.pad-top-3x {
  padding-top: 30px; }

.pad-top-4x {
  padding-top: 40px; }

.pad-top-5x {
  padding-top: 50px; }

.pad-top-6x {
  padding-top: 60px; }

.pad-top-7x {
  padding-top: 70px; }

.pad-top-8x {
  padding-top: 80px; }

.pad-right-0x {
  padding-right: 0px; }

.pad-right-1x {
  padding-right: 10px; }

.pad-right-2x {
  padding-right: 20px; }

.pad-right-3x {
  padding-right: 30px; }

.pad-right-4x {
  padding-right: 40px; }

.pad-right-5x {
  padding-right: 50px; }

.pad-right-6x {
  padding-right: 60px; }

.pad-right-7x {
  padding-right: 70px; }

.pad-right-8x {
  padding-right: 80px; }

.pad-bottom-0x {
  padding-bottom: 0px; }

.pad-bottom-1x {
  padding-bottom: 10px; }

.pad-bottom-2x {
  padding-bottom: 20px; }

.pad-bottom-3x {
  padding-bottom: 30px; }

.pad-bottom-4x {
  padding-bottom: 40px; }

.pad-bottom-5x {
  padding-bottom: 50px; }

.pad-bottom-6x {
  padding-bottom: 60px; }

.pad-bottom-7x {
  padding-bottom: 70px; }

.pad-bottom-8x {
  padding-bottom: 80px; }

.pad-left-0x {
  padding-left: 0px; }

.pad-left-1x {
  padding-left: 10px; }

.pad-left-2x {
  padding-left: 20px; }

.pad-left-3x {
  padding-left: 30px; }

.pad-left-4x {
  padding-left: 40px; }

.pad-left-5x {
  padding-left: 50px; }

.pad-left-6x {
  padding-left: 60px; }

.pad-left-7x {
  padding-left: 70px; }

.pad-left-8x {
  padding-left: 80px; }

.mar-all-0x {
  margin: 0px; }

.mar-all-1x {
  margin: 10px; }

.mar-all-2x {
  margin: 20px; }

.mar-all-3x {
  margin: 30px; }

.mar-all-4x {
  margin: 40px; }

.mar-all-5x {
  margin: 50px; }

.mar-all-6x {
  margin: 60px; }

.mar-all-7x {
  margin: 70px; }

.mar-all-8x {
  margin: 80px; }

.pad-all-0x {
  padding: 0px; }

.pad-all-1x {
  padding: 10px; }

.pad-all-2x {
  padding: 20px; }

.pad-all-3x {
  padding: 30px; }

.pad-all-4x {
  padding: 40px; }

.pad-all-5x {
  padding: 50px; }

.pad-all-6x {
  padding: 60px; }

.pad-all-7x {
  padding: 70px; }

.pad-all-8x {
  padding: 80px; }

.before-icon-hub::before {
  content: "";
  font-family: "FontAwesome";
  padding-right: 5px; }

.before-icon-letters::before {
  content: "";
  font-family: "FontAwesome";
  padding-right: 5px; }

.before-icon-mathematics::before {
  content: "";
  font-family: "FontAwesome";
  padding-right: 5px; }

.before-icon-physics::before {
  content: "";
  font-family: "FontAwesome";
  padding-right: 5px; }

.badge-primary {
  font-size: 1.5rem; }

#badge-letters {
  background-color: #fff7a3;
  color: white;
  font-size: 1.2rem; }

#badge-mathematical {
  background-color: #a3e2ff;
  color: white;
  font-size: 1.2rem; }

#badge-physical {
  background-color: #ffa6a3;
  color: white;
  font-size: 1.2rem; }

body.container {
  padding: 10px;
  background-color: #FFF; }

body > div {
  padding: 10px;
  border: solid #ecece9 1px; }

/*# sourceMappingURL=style.css.map */
