@charset "UTF-8";
.before-icon-hub::before {
  content: "";
  font-family: "FontAwesome";
  padding-right: 5px; }

.before-icon-letters::before {
  content: "";
  font-family: "FontAwesome";
  padding-right: 5px; }

.before-icon-mathematics::before {
  content: "";
  font-family: "FontAwesome";
  padding-right: 5px; }

.before-icon-physics::before {
  content: "";
  font-family: "FontAwesome";
  padding-right: 5px; }

.badge-primary {
  font-size: 1.5rem; }

#badge-letters {
  background-color: #fff7a3;
  color: white;
  font-size: 1.2rem; }

#badge-mathematical {
  background-color: #a3e2ff;
  color: white;
  font-size: 1.2rem; }

#badge-physical {
  background-color: #ffa6a3;
  color: white;
  font-size: 1.2rem; }
