<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <link rel="stylesheet" href="../../../css/style.css" />

        <title>Palindrome</title>
    </head>

    <body>
        <!-- Header template. -->
        <header id="header-content" class="container"></header>

        <!-- Breadcrumb template. -->
        <header id="breadcrumb-content" class="container"></header>
        <hr />

        <!-- Content template. -->
        <section id="body-content" class="container"></section>

        <!-- Footer template. -->
        <hr />
        <footer id="footer-content" class="container"></footer>
    </body>

    <!-- Librairies scripts -->
    <script src="../../../libs/jsrender-helper/jsrender-helper-1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- body-template. -->
    <script id="body-template" type="text/x-jsrender">
        <h1 class="col-sm-12">{{:title}}</h1>

        <article class="col-sm-12">
            <h2>{{:title}}</h2>
            <p>{{:description}}</p>
            
            {{for fields}} 
                <div class="form-group">
                {{if type=="input"}}
                    <div class="form-group">
                        <label for="{{:id}}">{{:label}}</label>
                        <input type="text" name="{{:id}}" id="{{:id}}" class="form-control" placeholder="{{:placeholder}}">
                    </div>
                {{else type=="textarea"}}
                    <label for="{{:id}}">{{:label}}</label>
                    <textarea class="form-control rounded-0" id="{{:id}}" rows="{{:rows}}">{{:placeholder}}</textarea>
                {{else type=="radio"}}
                    {{for radios}}
                    <label class="{{:labelClasses}}">
                        <input type="radio" class="{{:inputClasses}}" name="{{:name}}" value={{:value}} {{:checked}}>
                        {{:label}}
                    </label>
                    {{/for}}
                {{else type=="button"}}
                    <button id="{{:id}}" type="{{:buttonType}}" class="btn btn-primary">
                        {{:label}}
                    </button>
                {{else}}
                    <p>Le champ souhaité n'est pas supporté par l'application, merci de contacter le responsable pour qu'il intègre ce nouveau type de champ.</p>
                {{/if}}
                </div>
            {{/for}}

            <div id="alert-result" class="mt-3"></div>
        </article>
    </script>

    <!-- Local lib and files import. -->
    <script src="../../../appConstant.js"></script>
    <script src="../../../classes/utils/Utils.js"></script>
    <script src="../../../classes/data/includes/Header.js"></script>
    <script src="../../../classes/data/includes/BreadCrumb.js"></script>
    <script src="../../../classes/data/includes/Footer.js"></script>
    <script src="../../../classes/data/views/BaseTemplate.js"></script>
    <script src="../../../classes/data/views/letters/Palindrome.js"></script>
    <script src="../../../classes/logics/Words.js"></script>
    <script src="palindrome.js"></script>
</html>