//
// Icons in breadcrumb.
//
$font-awesome: "FontAwesome";

$home-code: '\f015';
$book-code: '\f02d';
$calculator-code: '\f1ec';
$flask-code: '\f0c3';

$iconCodes: 
'hub' $home-code, 
'letters' $book-code, 
'mathematics' $calculator-code, 
'physics' $flask-code;

@each $tuple in $iconCodes {
    .before-icon-#{nth($tuple, 1)}::before {
        content: "#{nth($tuple, 2)}";
        font-family: $font-awesome;
        padding-right: $gl-padding / 2;
    }
}

// 
// Badges styles 
// 
.badge-primary {
    font-size: 1.5rem;
}

$subjects: (
    'letters', 'mathematical', 'physical',
);
@each $subject in $subjects {
    #badge-#{$subject} {
        @if ($subject == 'letters') {
            background-color: rgb(255, 247, 163);
        } @else if ($subject == 'mathematical') {
            background-color: rgb(163, 226, 255);
        } @else {
            background-color: rgb(255, 166, 163);
        }

        color: white;
        font-size: 1.2rem;
    }
}
